html {
	background: url('./images/newyork.jpg');
	background-position: center;
	background-size: cover;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Nunito', sans-serif;
}

.box {
	width: 50vw;
	background-color: white;
	padding: 50px;
	border-radius: 15px;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 10px 10px 20px 1px black;
	opacity: 0.95;
}

.box p {
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
}

.box button {
	font-size: 1rem;
	padding: 0.5rem;
	border-radius: 10px;
	background-color: lightcoral;
	color: #ffffff;
	box-shadow: 3px 3px 10px 1px black;
	margin-top: 35px;
}

.box button:hover {
	background-color: lightpink;
	cursor: pointer;
}
